<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
                        <h1>Scientist Roster</h1>
                        <ul>
                        <% planet.forEach((f) => { %>
        
            <li>
                <a href="/planet/<%= f.id %>">
                    <%= f.name %>
                </a>
                <a>
                    <%= f.planetName %>
                </a>
           </li>
        <% }) %>
    </ul>
    <a href="/planet/new">New</a>
</body>
</html>  